<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1>Horror Books Store</h1>
        <div class="contenedorBotones">
            <button onclick="window.location.href='/register'">Register</button>
            <button onclick="window.location.href='/login'">Login</button>
            <button onclick="window.location.href='/products'">Productos</button>
        </div>
    </div>
</div>




