<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1>Products</h1>
        <div class="contenedorBotones">
            <button onclick="window.location.href='/'">Home</button>
        </div>
    </div>
</div>