<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1 class="text-register">Register</h1>
        <div class="d-flex justify-content-center align-items-center" style="position: relative; height: 100%;">
            <div class="card">
                <div class="card-body">               
                    <form action="/api/sessions/register" method="POST">
                        <input type="text" name="first_name" class="form-control mb-2" placeholder="Introduzca el nombre">
                        <input type="text" name="last_name" class="form-control mb-2" placeholder="Introduzca el apellido">
                        <input type="email" name="email" class="form-control mb-2" placeholder="Introduzca el email">
                        <input type="text" name="age" class="form-control mb-2" placeholder="Introduzca su edad (opcional)">
                        <input type="password" name="password" class="form-control mb-2" placeholder="Introduzca el password">
                        <br>
                        <button type="submit">Enviar</button>
                        <br>
                        <br>
                    </form>
                    <button onclick="window.location.href='/login'">Login</button>
                    <br>
                    <br>
                    <button onclick="window.location.href='/'">Home</button>
                </div>
            </div>
        </div>
    </div>
</div>



