<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <div class="titulos">
            <h1>Registro Exitoso!!!
                   Bienvenido a
                Horror Books Store
            </h1>
        </div>
        <div class="contenedorBotones">
            <button onclick="window.location.href='/login'">Login</button>
        </div>
    </div>
</div>
