<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1>Portal usuarios
               datos sensibles
               - productos -
        </h1>       
        <!-- Contenedor para los botones en la parte superior derecha -->
        <div class="contenedorBotonesDerecha">
            <button class="botonPequeño" onclick="window.location.href='api/sessions/currentUserPremium'">User-Premium</button>
            <button class="botonPequeño" onclick="window.location.href='api/sessions/currentAdmin'">Admin</button>
        </div>
        <div class="contenedorBotones">
            <button onclick="alert('Mi Perfil')">Mi Perfil</button>
            <button onclick="alert('Cart')">Cart</button>
            <button onclick="window.location.href='/api/sessions/logout'">salir</button>
        </div>
    </div>
</div>