<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1>Portal Super User
            Datos sensibles - 
            productos    
        </h1>
        <div class="contenedorBotones">
            <button onclick="alert('Mi Perfil')">Mi Perfil</button>
            <button onclick="alert('Vender')">Vender</button>
            <button onclick="alert('Cart')">Carritos</button>
            <button onclick="window.location.href='/api/sessions/logout'">salir</button>
        </div>
    </div>
</div>