<div class="contenedor">
    <div class="contenedorImagenFondo">
        <img src="assets/img/libros_de_terror.jpg" alt="Imagen de fondo Home jeeps">
        <h1>Portal Admin
            - Datos Sensibles
        </h1>
        <div class="contenedorBotones">
            <button onclick="alert('Mi Perfil')">Mi Perfil</button>
            <button onclick="window.location.href='/api/users'">Usuarios</button>
            <button onclick="alert('Cart')">Carritos</button>
            <button onclick="window.location.href='/currentAdmin/asignRole'">Asignar Role</button>
            <button onclick="alert('Configuraciones')">Opciones</button>
            <button onclick="window.location.href='/api/sessions/logout'">salir</button>    
        </div>
    </div>
</div>